<!DOCTYPE html>

<html lang="en">

    <head>

        <title>MSIS Club Event Registration System V1</title>

    </head>

    <body>

        <h1>{{student.first_name}} {{student.last_name}}</h1>

        <p>
            <strong>ID:</strong> {{student.id}}
        </p>

        <p>
            <strong>Major:</strong> {{student.major}}
        </p>

        <h2>Registered events</h2>

        <ul>
            {% for event in eventList %}
                <li>
                    <!-- A link where the url is like /event?id=1 and the text is the id and name of the event -->
                    <a href="{{ url_for('event', id=event.id) }}">{{event.id}} {{event.name}}</a>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('students') }}">All students</a>

    </body>

</html>
