{% extends "layout.html" %}

{% block body %}

    <h2>Register</h2>

        <form action="/register" method="post">

            <!-- We need an input for the event id so our app knows which event to register for, but we make it readonly so the user doesn't change it -->
            <!-- We can also use some css code to make this hidden from the user -->
            <input name="eventId" type="number" value={{eventId}} readonly class="hidden">

            <p>
                <label for="studentId">Student ID:</label>
                {% if student %}
                    <!-- Student id input is made to be a number and at least 0 -->
                    <!-- Required! -->
                    <input name="studentId" type="number" min="0" required value="{{student['id']}}">
                {% else %}
                    <!-- Student id input is made to be a number and at least 0 -->
                    <!-- Required! -->
                    <input name="studentId" type="number" required min="0" }}>
                {% endif %}

            </p>

            <p>
                <label for="firstName">First Name:</label>
                {% if student %}
                    <!-- Required! -->
                    <input name="firstName" type="text" required value="{{student['first_name']}}">
                {% else %}
                    <!-- Required! -->
                    <input name="firstName" type="text" required>
                {% endif %}
            </p>

            <p>
                <label for="lastName">Last Name:</label>
                {% if student %}
                    <!-- Required! -->
                    <input name="lastName" type="text" required value="{{student['last_name']}}">
                {% else %}
                    <!-- Required! -->
                    <input name="lastName" type="text" required>
                {% endif %}
            </p>

            <p>
                <label for="major">Major:</label>
                {% if student %}
                    <input name="major" type="text" value="{{student['major']}}">
                {% else %}
                    <input name="major" type="text">
                {% endif %}
            </p>

            <input type="submit" value="Register">
        </form>

        <p>
            <a href="{{ url_for('event', id=eventId) }}">Back</a>
        </p>

{% endblock %}
